
.ant-layout.wrapper {
  // background: @page-bg;

  .ant-layout {
    // background: @container-bg;
  }
}

.ant-layout-header.header {
  background: none;
  padding: 0;
  height: auto;
  line-height: normal;
}

.ant-layout-sider.aside {
  background: none;
  width: auto !important;
  min-width: auto !important;
  max-width: none !important;
  flex: auto !important;
}

.container {
  margin: auto;

  > .ant-layout-content {
    overflow: hidden;
  }
}