.rules {
  color: #323232;
  font-size: 12px;

  .title {
    color: #705636;
    font-size: 16px;
  }
  .h1 {
    font-weight: 600;
  }
  .magl {
    margin-left: 15px;
  }
  .tr {
    background-color: #ff9700;
  }
  .rulesTB th, .rulesTB td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    height: 30px;
  }
  .rulesTB {
    text-align: center;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  .rule {
    background: #705636;
    color: #fff;
    padding: 3px
  }
  .sw {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  .rulesSoccerBTN {
    width: 99%;
    height: 38px;
    line-height: 38px;
    border: 1px solid #1c1c1c;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #1c1c1c repeat-x;
    text-align: center;
    margin: 0 auto 5px;
  }

}

.oddsTB {
  width: 50%;
  float: left;
  background-color: #fff;
  font-size: 13px;
  text-align: center;
  color: #323232;
  td {
    height: 30px;
    border-bottom: 1px solid #efe5d9;
    border-right: 1px solid #efe5d9;
  }
  th {
    height: 36px;
    background-color: #725945;
    color: #c3b294;
    font-weight: normal;
  }
  .paddleft {
    text-align: left;
    padding-left: 10px;
    padding-right: 0;
  }
  .oddsTitle {
    background-color: #f8f5ee;
  }
  .RedWord {
    color: #e73619;
  }

  .leftLine {
    border-left: 1px solid #baa283;
  }
  .rightline {
    border-right: 0;
  }
}

.odd {
  margin: -24px;
}

.contactIMG {
  width: 92px;
  padding-right: 20px;
}
.midHight {
  height: 18px;
}
.contactTB li {
  line-height: 20px;
}
ul{
  list-style: none;
}